@keyframes slideInFromRight {
    0% {
        transform: translateX(1%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-1.5%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-2%);
    }
}

@keyframes fadeAway {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*spinner*/

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 0.8;
    }
}