/*navbar*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
    .cards {
        display: grid;
        padding: 20px;
        grid-gap: 40px;
     }
    
    .banner-image>img{
        display: none;
    }
    .banner-image {
        background-image: url('img/home.webp');
        background-size: cover;
        background-color: black;
    }

}

@media (aspect-ratio: 16/9){
    .banner-image {
        display: none;
    }
}

body{
    background-color: #151320;
    height: 100vh;
    display: grid;
    place-items: center center;
    max-width: 100%;
    overflow-x: hidden;
}

.navbar{
    position: fixed;
    transition: 0.5s;
    z-index: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}



.navbar-nav {
    margin-right: 10px;
    font-size: .9em;
    font-weight: 300;
    text-transform: uppercase;
    font-family: sans-serif;
}

.nav-link {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.8s;
}

.nav-link:hover {
    border-bottom: 1px solid white;
}

/* page content*/

.cards {
   display: grid;
   grid-template-columns: repeat(auto-fit,
   minmax(400px,1fr));
   padding: 20px;
   grid-gap: 40px;
}

.card {
   display: block;
   text-decoration: none;
   background-color: #1c1b29;
   border-radius: 20px;
   box-shadow: 0 0 30px rgba(0,0,0,0.18);
   transition: 0.5s ease-in-out;
}

.card:hover {
   transform: translate3D(0,-1px,0) scale(1.03);  
}

.containterimg {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100%
    85%, 0 100%);
}

#cardimg img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.containterimg::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.card1>.containterimg::after {
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}

.card2>.containterimg::after {
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}

.card3>.containterimg::after {
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}

.details {
    padding: 20px 10px;
}

.details>h3 {
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.details>p {
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;

}

/* bottom card */ 

.bottomcard {
    margin: 0;
    width: 100%;
    height: 150px;
    background-color: #1c1b29;
}

.info {
    text-align: center;
    line-height: 1000%;
    color: #a0a0a0;
    font-weight: 200;
}


/*projects home page*/
.bannerimgg {
    position: relative;
    height: 50%;
    width: 100%;
}



/*ESP-01 full*/

   
.cardsblog {
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
 }
 
 .cardblog {
    display: block;
    text-decoration: none;
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    transition: 0.5s ease-in-out;
 }

 
 .containterimgblog {
     position: relative;
 }
 
 #cardimgblog img {
     width: 100%;
     display: block;
     border-radius: 20px 20px 0 0;
 }
 
 .containterimgblog::after {
     content: "";
     height: 60%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     border-radius: 20px 20px 0 0;
     opacity: 0.7;
 }
 

 .detailsblog {
     padding: 20px 10px;
 }
 
 .detailsblog>h3 {
     color: white;
     font-weight: 600;
     font-size: 25px;
     text-align: center;
 }
 
 .detailsblog>p {
     color: #d4d3d3;
     font-size: 15px;
     line-height: 30px;
     font-weight: 400;
     word-wrap: break-word;
     text-indent: 30px;
     padding-left: 5%;
     padding-right: 5%;
 }

 .detailsblog img {
    border-radius: 25px;
    width: 70%;
}

 .codeholdesp{
    background-color: #072635;
    display: block;
    border-radius: 25px;
    width: 40%;
    


 }
 
 .codeholdespin {
    width: 90%;
    text-align: left;
 }
/*espsim*/

.detailsblog>center>p {
    color: #d4d3d3;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    word-wrap: break-word;
    text-indent: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.simcoder {
    background-color: #072635;
    display: block;
    border-radius: 25px;
    width: 95%;
    align-items: center;
    
}
.simcoderhold{

    width: 90%;
    text-align: left;
}

/* 3d renders*/



.drenders>center>img {
  display: grid;
  width: 95%;
  border-radius: 25px;
  grid-gap: 40px;
  align-items: center;
  padding: 10px;
  
}


/*about me*/

.contents-aboutme {
    padding-left: 25%;
}

.aboutmecard {
    display: table;
    position: relative;
    border-spacing: 10px;
    width: 60%;
    height: 500px;
    padding: 10px;
    border-radius: 15px;
    background-color: #072635;
    opacity: 0.8;
    animation: 1s ease-out 0s 1 slideInFromTop;

}

.detailz{
    padding-left: 230px;
    color: white;
    text-decoration: none;
}

.aboutmeimage {
    float: left;
}

.aboutmeimage>img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.fa {
    font-size: 50px;
    transition: all 0.5s ease;
}

.fa:hover {
    opacity: 0.9;
    
}

.contactinfo {
    display: flexbox;
    padding-left: 30%;
    padding-top: 5%;
    color: white;
}

.fa-twitter {
    
    background: transparent;
    color: white;
    text-decoration: none;
}

.fa-youtube {
    background: transparent;
    color: white;
    text-decoration: none;
}

.fa-instagram {
    background: transparent;
    color: white;
    text-decoration: none;
}

.fa-github {
    background: transparent;
    color: white;
    text-decoration: none;
}

.fa-google {
    background: transparent;
    color: white;
    text-decoration: none;
}

